.basket-box{
    width: 95vw;
    height: 100%;
    display: flex;
    margin-left:20px;
    

    .bas_products{
        width: 70%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 35px;
        margin-left: 23px;

        .bas_product{
            display: flex;
            align-items: center;
            width: 90%;
            border-radius: 10px;
            box-shadow: 1px 1px 20px 0px rgba(34, 60, 80, 0.2);
            img{
                width: 200px;
                height: 170px;
                margin-right: 10px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
            p{
                width: 250px;
                margin: 0 10px;
                padding-left: 10px;
            }
            span{
                font-weight: 900;
                margin-right: 20px;
            }
            input{
                width: 40px;
                margin: 0 10px;
            }
            h1{
                margin-left: 10px;
            }
        }

    }
    .order-box{
        width: 30%;
        height: 100vh;
        .order{
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            gap: 10px;

            input{
                width: 190px;
                height: 30px;
                font-size: 16px;
                outline: none;
            }
            select{
                width: 190px;
                height: 30px;
                font-size: 16px;
            }
            .aniq_man{
                width: 220px;
                height: 60px;
            }
            .order_btns{
                width: 260px;
                display: flex;
                justify-content: space-between;
                .order_btn_saq{
                    background-color: rgb(194, 166, 10);
                    width: 120px;
                    height: 30px;
                    border-radius: 5px;
                    color: #FFFFFF;
                    font-size: 17px;
                    transition: 0.3s;
                } 
                .order_btn_sot{
                    background-color: rgb(7, 189, 7);
                    width: 120px;
                    height: 30px;
                    border-radius: 5px;
                    color: #FFFFFF;
                    font-size: 17px;
                    transition: 0.3s;
                } 
                :hover{
                    background-color:#7000FF ;
                }
            }
        }
    }
}
.titles{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 27px;
    margin-top: 30px;
    margin-bottom: 30px;
    .pro-title{
        display: inline-block;
        font-size: 25px;
        margin-left: 59px;
    }
    .or-title{
        display: inline-block;
        margin-right: 85px;
        font-size: 25px;
    }
  
}
.bas_name{
    font-size: 22px;
}
