@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.nav_alert {
  width: 100vw;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7000FF;
}
.nav_alert p {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.nav_top {
  display: flex;
  width: 95vw;
  height: 103px;
  align-items: center;
}
.nav_top h1 {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  line-height: 18px;
}
.nav_top h1 .span1 {
  color: orange;
}
.nav_top h1 .span2 {
  font-weight: lighter;
  font-size: 16px;
}

.nav_info {
  display: flex;
  align-items: center;
}
.nav_info .logo {
  display: flex;
  width: 254px;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
}
.nav_info .logo img {
  width: 50px;
  height: 50px;
  align-items: center;
  margin-right: 5px;
  border-radius: 15px;
}

.nav_items {
  display: flex;
}
.nav_items :not(:last-child) {
  margin-right: 30px;
}
.nav_items li {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.nav_panel {
  display: flex;
  width: 274px;
  align-items: center;
  justify-content: space-around;
  margin-left: 174px;
}
.nav_panel p {
  font-weight: 700;
}
.nav_panel img {
  width: 30px;
  height: 30px;
  align-items: center;
}

.nav_bottom {
  display: flex;
  flex-direction: row-reverse;
  width: 95vw;
  height: 70px;
}
.nav_bottom .catalog {
  height: 70px;
  width: 234px;
  background-color: #7000FF;
}
.nav_bottom .others {
  display: flex;
  align-items: center;
  background-color: #FF7200;
  width: 1056px;
  height: 70px;
  border-radius: 0px 4px 4px 0px;
}
.nav_bottom .others .search {
  display: flex;
  align-items: center;
  margin-left: 20px;
  background-color: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  border-width: 1px 2px 1px 1px;
  margin-right: 25px;
}
.nav_bottom .others .search input {
  width: 589px;
  height: 40px;
  border-radius: 5px 5px;
  border-width: 1px 2px 1px 1px;
  border-style: solid;
  border-color: #FFFFFF;
  outline: none;
}
.nav_bottom .others .search img {
  width: 30px;
  height: 30px;
}
.nav_bottom .controllers {
  display: flex;
  height: 70px;
}
.nav_bottom .controllers img {
  width: 20px;
  height: 20px;
}
.nav_bottom .controllers .login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 62px;
  border-right: solid 0.3px #cabdbd;
  border-left: solid 0.3px #cabdbd;
}
.nav_bottom .controllers .like {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 62px;
  border-right: solid 0.3px #cabdbd;
}
.nav_bottom .controllers .basket {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  color: #FFFFFF;
  align-self: center;
  font-weight: bold;
}
.nav_bottom .controllers .basket img {
  margin-right: 20px;
}

.navigation {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 234px;
  box-sizing: border-box;
  background-color: #7000FF;
  border-radius: 4px 0px 0px 0px;
  padding-bottom: 1px;
}
.navigation h2 {
  margin-top: 19px;
  font-size: 25px;
  font-weight: bold;
  color: #f1efef;
  cursor: pointer;
  margin-bottom: 20px;
}

.nav_ul {
  align-items: center;
  width: 234px;
  flex-direction: column;
  cursor: pointer;
  border-radius: 0px 0px 0px 4px;
  background-color: hwb(0 95% 4%);
  box-shadow: 13px -3px 8px 0px rgba(34, 60, 80, 0.2);
  padding-bottom: 20px;
}

.list {
  font-size: 19px;
  margin-left: 24px;
  color: black;
  margin-top: 20px;
}
.list :hover {
  color: #FFFFFF;
  white-space: normal;
  background-color: #7000FF;
  transition: all 0.3s ease;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 210px;
  font-weight: bolder;
  border-radius: 20px 0px 0px 20px;
  border-top: solid 1px #7000FF;
  border-bottom: solid 1px #7000FF;
  border-left: solid 1px #7000FF;
}

.overline {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.nav_bar {
  position: absolute;
  display: flex;
  margin-left: 8px;
  width: 1290px;
  background-color: hwb(0 95% 4%);
}/*# sourceMappingURL=main.css.map */