.type_nav {
    flex-direction: column;
    margin-left: 24px;
    height: 100%;
    width: 1056px;
    background-color: hwb(0 95% 4%);

    h2 {
        font-size: 22px;
        margin-left: 45px;
        margin-top: 15px;
        height: 10%;
        color: rgb(37, 33, 33);
        margin-bottom: 15px;
    }

}

.type_card {
    width: 150px;
    height: 200px;
    margin-left: 45px;
    border-radius: 15px;
    background-color: hwb(0 95% 4%);
    box-shadow: 1px 2px 21px 0px rgba(34, 60, 80, 0.2);
    margin-bottom: 15px;

    img {
        position: relative;
        bottom: 16px;
        width: 120px;
        height: 140px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;

    }

    p {
        color: rgb(195, 168, 32);
        font-size: 20px;
        font-weight: 700;
    }
}

.card_box {
    display: flex;
    flex-wrap: wrap;
}

.categories-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 65px;

    h2 {
        display: block;
        width: 235px;
        height: 40px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 45px;
        text-align: center;


    }

    .categories {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        gap:55px;
        padding: 0px 75px 0px 75px;
        .category {
            border-radius: 5px;
            margin-bottom: 35px;
            box-shadow: 1px 1px 20px 0px rgba(34, 60, 80, 0.2);

            img {
                width: 230px;
                height: 260px;
            }

            h3 {
                font-size: 19px;
                font-weight: 700;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }

}
.types-box{
    margin-top: 40px;

    .types_title{
        font-size: 27px;
        margin-left: 60px;
        margin-bottom: 30px;
    }
}